h5 {
    color: #333;
    margin: 15px;
    ;
}

.btn-small {

    margin-left: 0% !important;
}



/* Estilos personalizados */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h1 {
    color: #fff !important;
}

body.dark-mode .card {
    background-color: #555 !important;
    color: #fff !important;
}

body.dark-mode .flow-text,
body.dark-mode p {
    color: #515050 !important;
}

body.dark-mode .card-title {
    color: #d1cdcd !important;
}



.switch {
    position: absolute;
    right: 2%;
    top: -1px;
    z-index: 151;
}

/*forma y posicion de las cajas*/
.card.borde,
.card-image {
    border-radius: 15px;
}

.flow-text {
    font-size: 1.6rem;
}

.btn-large {
    margin: 5px;
}


footer {
    display:contents;
    width: 100%;
    height: 30px;
    position:relative !important;
    bottom: 50px ;
    left: 0px;
    text-align: center;
    padding: 10px;
}

/* Estilos para el buscador 
.input-field {
    margin: 10px;
    border-radius: 5px;
    width: 45px;
}

/* Estilos hoverable
.buscador:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 360px;
    transition: width 0.4s ease-in-out;

} */

body {
	margin: 0;
	padding: 0;
	background:#ecebeb;
}

.container {
    position: relative;
    top: 40px;
}
.contenedor {
	position: absolute;
	left: 51%;
	top: 100px;
	transform: translate(-50%,-50%);
	padding: 10px;
    z-index: 151;
}

input {
	outline: none;
	box-sizing: border-box;
	height: 60px;
	width: 10px !important;
	padding: 0 20px;
	color: #000;
	border-radius: 50px !important;
	font-size: 20px;
    padding-left: 10px !important;
    background-color: rgb(255, 255, 255) !important;
	border: 1px solid #bebdbd !important;
	transition: all .7s ease !important ;
}


::placeholder {
    left: 15px !important;
	color: grey;
}

.btn {
	position: absolute;
	right: -20px;
	top: -4px;
	width: 80px;
	height: 80px;
	background: #D50000;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	transition: .5s ;
}

.btn i {
	font-size: 25px;
	color: white;
	line-height: 80px;
	transition: all .7s ease;
}

.contenedor:hover input {
	width: 320px !important;
    transition: all .7s ease-in-out ;

}

.contenedor:hover i{
	transform: rotate(-360deg);
}

.btn:hover{
	background: #cc0000;
}
