h5 {
    color: #333;
    margin: 15px;
    ;
}

.btn-small {

    margin-left: 0% !important;
}



/* Estilos personalizados */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode h1 {
    color: #fff !important;
}

body.dark-mode .card {
    background-color: #555 !important;
    color: #fff !important;
}

body.dark-mode .flow-text,
body.dark-mode p {
    color: #515050 !important;
}

body.dark-mode .card-title {
    color: #d1cdcd !important;
}



.switch {
    position: absolute;
    right: 2%;
    top: -0.5%;
    z-index: 151;
}

/*forma y posicion de las cajas*/
.card.borde,
.card-image {
    border-radius: 15px;
}

.flow-text {
    font-size: 1.6rem;
}

.btn-large {
    margin: 5px;
}

.modal-footer {
    position: fixed;
    bottom: 0%;
}

footer {
    display: contents;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
}

/* Estilos para el buscador */
.input-field {
    margin: 10px;
    border-radius: 5px;
    width: 45px;
}

/* Estilos hoverable */
.buscador:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 360px;
    transition: width 0.4s ease-in-out;

}