.card,.card-image {
border-radius: 15px;
}

.flow-text {
    font-size: 1.6rem;
}

.modal-trigger {
    position: fixed;
    left: 2%;
    top: 1.2%;
    z-index: 150;
}

.modal {
    height: 100%;
}

.modal-footer {
    position: fixed;
    bottom: 0%;
}


footer {
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    z-index: 100;
}


/*@media screen and (min-width: 350px) AND (max-width: 550px) {
    .fondo {
        position: fixed;
        top: 10%;
        left: 0px;
        z-index: 50;
    }
}

@media screen and (min-width: 550px) AND (max-width: 850px) {
    .submenu {
        position: fixed;
        top: 10%;
        left: 0px;
        z-index: 101;
    }
}

@media screen and (min-width: 850px) AND (max-width: 1366px) {
    .fondo {
        position: fixed;
        top: 10%;
        left: 0px;
        z-index: 50;
    }
}

@media screen and (min-width: 1366px) {
    .fondo {
        position: fixed;
        top: 10%;
        left: 0px;
        z-index: 50;
    }
}